{% extends "base.html.twig" %}
{% block body %}

<div class="m-auto" style="max-width: 300px; height: 100vh;">
    <h3>Modification</h3>
    {{ form_start(form) }}
    <div class="form-group">
        {{ form_widget(form.username, {'attr': {'placeholder': 'Nom d\'utilisateur'}}) }}
    </div>
    <div class="form-error">
        {{ form_errors(form.email) }}
    </div>
    <div class="form-group">
        {{ form_widget(form.email, {'attr': {'placeholder': 'Adresse email'}}) }}
    </div>
    <div class="form-group">
        {{ form_widget(form.imageFile) }}
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-lg btn-success w-100">
            Inscription
        </button>
    </div>
{{ form_end(form) }}

</div>
{% endblock %}