{% extends 'base.html.twig' %}
{% block title %}Mon profil{% endblock %}

{% block body %}
<head>
	<link rel="stylesheet" href="{{ asset('css/profile.css') }}">
</head>
<div id="container">
	<div class="text-center mx-auto pb-5" style="min-width: 400px;">
		<h3>Informations</h3>
		<div class="card-body text-left">
			<div class="d-flex">
				<p>Votre nom :</p>
				<p class="card-text ml-auto">{{ user.username }}</p>
			</div>
			<div class="d-flex">
				<p>Votre email :</p>
				<p class="card-text ml-auto">{{ user.email }}</p>
			</div>
			<div class="d-flex">
				<p>Création du compte :</p>
				<p class="card-text ml-auto">{{ user.createdAt|date("m/d/Y")  }}</p>
			</div>
			<div class="d-flex">
				<p>Statut du compte :</p>
				{% if user.roles[0] == "ROLE_USER" %}
					<p class="card-text ml-auto text-danger">Non-Vérifié</p>
				{% elseif user.roles[0] == "ROLE_VERIFIED_USER" %}
					<p class="card-text ml-auto text-success">Vérifié</p>
				{% else %}
					<p class="card-text ml-auto text-warning">Administrateur</p>
				{% endif %}
			</div>
			<form method="post" action="{{ path('delete_user', {'id': user.id}) }}" onsubmit="return confirm('Êtes-vous vraiment sûr ?')">
				<input type="hidden" name="_method" value="DELETE">
				<button class="btn btn-danger">
					Supprimer le compte
				</button>
			</form>
		</div>
	</div>
{# 
		<div class="card bg-light mb-3">
			<div class="card-header" style="font-size: 1.5rem">Vos informations</div>
			<div class="card-body">
				<div class="col">
					<h3 class="card-title">Votre Nom :</h3>
					<p class="card-text">{{ user.username }}</p>
					<h3 class="card-title">Votre Mail :</h3>
					<p class="card-text">{{ user.email }}</p>
					<h3 class="card-title">Supprimer le compte :</h3>
					<form method="post" action="{{ path('delete_user', {'id': user.id}) }}" onsubmit="return confirm('Êtes-vous vraiment sûr ?')">
						<input type="hidden" name="_method" value="DELETE">
						<button class="btn btn-danger">
							Supprimer
						</button>
					</form>
				</div>
			</div>
		</div>
		<div class="d-flex">
			<form method="post" class="pr-3">
				<input type="hidden" name="user" id="userId" class="form-control" value="{{ user.email }}">
				<button class="btn btn-lg btn-secondary mt-3 mb-3" type="submit">
					Modifier mon mot de passe
				</button>
			</form>
			<form method="post">
				<input type="hidden" name="user" id="userId" class="form-control" value="null">
				<button class="btn btn-lg btn-secondary mt-3 mb-3" type="submit">
					Modifier mes informations
				</button>
			</form>
		</div> #}
	</div>
	<style>
		footer{
			display: none;
		}
	</style>

{% endblock %}
