{% extends 'base.html.twig' %}
{% block body %}
	<header>
		<link rel="stylesheet" href="{{ asset('css/articles.css') }}">
	</header>
	<!-- Articles section -->
	<section class="container js-filter">
		<!-- Display all the articles in database -->
		<div class="d-flex justify-content-between">
			<div class="flex-grow-1">
				{% include 'primary/search/search.html.twig' with {form: form} only %}
				{% for article in articles %}
					<article class="d-flex px-3 js-filter-article" style="min-height: 76px;">
						<div class="d-flex flex-column justify-content-between">
							<a class="article_title" href="{{ path('article', {'id' : article.id, 'slug': article.slug }) }}">
								<h3>{{ article.title }}</h3>
							</a>
							<li class="list-unstyled d-flex flex-wrap">
								{% for category in article.categories %}
									<a href="/articles?categories%5B%5D={{ category.id }}&q=" class="btn btn-secondary m-1" style="border: solid black 1px;background-color:{{ category.color }}; color: black;">
										{{ category.title }}
									</a>
								{% endfor %}
							</li>
							<p class="text-muted">{{ article.createdAt | date('d/m/y') }}</p>
						</div>
						{% if article.fileName is not null %}
							<div id="image_container">
								<a href="#">
									<img id="article_picture" src="{{ vich_uploader_asset(article, 'imageFile') }}" alt="Photo de l'article">
								</a>
							</div>
						{% endif %}
					</article>
					<hr>
				{% endfor %}
			</div>
		</div>
		<div class="btn-group js-filter-pagination">{{ knp_pagination_render(articles) }}</div>
	</section>
	<!-- / Articles section -->
{% endblock %}
