{% extends "base.html.twig" %}
{% block body %}

<head>
	<link rel="stylesheet" href="{{ asset('css/primary/home.css') }}">
</head>
{# WELCOME SECTION #}
<header>
	<div id="welcome-message">
		{# WELCOME BLOCK #}
		<h1 class="display-4 font-weight-bold">
			Bem vindo !
		</h1>
		<p class="lead">
			Créée à RENNES le 14 décembre 2012, L'Association Culturelle Portugaise ALMA LUSA a pour objectif
			diversifiées : expositions, conférences, chant, voyages, etc.
		</p>
	</div>
	{# WELCOME PICTURE #}
	<img src="{{ asset('images/algarve.jpg') }}" alt="Photo de bienvenue">
</header>
{# ARTICLE SECTION #}
<section class="container">
	<h2 class="py-5 text-uppercase">Nos articles</h2>
	{# LAST ARTICLE #}
	{% for lastArticle in lastArticle %}
	<article id="last-article">
		{# LAST ARTICLE PICTURE #}
		<a id="primary-link" href="{{ path('article', {'id' : lastArticle.id, 'slug': lastArticle.slug }) }}">
			{% if lastArticle.fileName == null %}
			<img class="article-image" src="{{ asset('images/almalusalogo.png') }}" alt="Photo de l'article">
			{% else %}
			<img class="article-image" src="{{ vich_uploader_asset(lastArticle, 'imageFile') }}"
				alt="Photo de l'article">
			{% endif %}
		</a>
		{# LAST ARTICLE LABEL #}
		<div class="article-container">
			<span class="badge badge-success float-right">Nouveau</span>
			<a href="{{ path('article', {'id' : lastArticle.id, 'slug': lastArticle.slug }) }}">
				<h4>{{ lastArticle.title }}</h4>
			</a>
			<p>{{ lastArticle.createdAt | date('d/m') }}</p>
			<li class="category-list">
				{% for category in lastArticle.categories %}
				<a class="btn" href="/articles?categories%5B%5D={{ category.id }}&q="
					style="background-color: {{ category.color }};">
					{{ category.title }}
				</a>
				{% endfor %}
			</li>
		</div>
	</article>
	{% endfor %}
	{# ARTICLES INDEX #}
	<div class="pt-5 article-list">
		{% for article in articles|slice(0, 9) %}
		<article>
			{# ARTICLE PICTURE #}
			<a href="{{ path('article', {'id' : article.id, 'slug': article.slug }) }}">
				<div id="image-container">
					{% if article.fileName == null %}
					<img alt="Photo de l'article" src="{{ asset('images/almalusalogo.png') }}">
					{% else %}
					<img alt="Photo de l'article" src="{{ vich_uploader_asset(article, 'imageFile') }}">
					{% endif %}
				</div>
			</a>
			{# ARTICLE CARD #}
			<div class="article-card">
				<a href="{{ path('article', {'id' : article.id, 'slug': article.slug }) }}">
					{# ARTICLE TITLE #}
					<span>{{ article.title }}</span>
					{# ARTICLE CATEGORIES #}
					<li class="category-list">
						{% for category in article.categories %}
						<a class="category-title btn" href="/articles?categories%5B%5D={{ category.id }}&q="
							style="background-color:{{ category.color }};">
							{{ category.title }}
						</a>
						{% endfor %}
					</li>
					{# ARTICLE DATE #}
					<p>{{ article.createdAt | date('d/m') }}</p>
				</a>
			</div>
		</article>
		{% endfor %}
		{# INDEX BUTTON #}
		<a class="ml-auto" href="{{ path('articles') }}">
			<input id="next-page" class="text-uppercase p-2 btn btn-secondary" value="Tous les articles ->"></input>
		</a>
	</div>
</section>
{% endblock %}