{% extends "base.html.twig" %}
{% block body %}
	<header>
		<link rel="stylesheet" href="{{ asset('css/home.css') }}">
	</header>
	<div id="reception">
		<div id="welcome_message">
			<h1 class="display-4 font-weight-bold">
				Bem vindo !
			</h1>
			<p class="lead">
				Créée à RENNES le 14 décembre 2012, L'Association Culturelle Portugaise ALMA LUSA a pour objectif																																														                diversifiées : expositions, conférences, chant, voyages, etc.
			</p>
		</div>
		<img id="welcome_picture" src="{{ asset('images/algarve.jpg') }}" alt="Photo de bienvenue">
	</div>
	<div class="container">
		<h2 class="py-5 text-uppercase">Nos derniers articles :</h2>
		{% for newArticle in newArticles %}
			<div class="article">
				<img class="article_image" src="{{ vich_uploader_asset(newArticle, 'imageFile') }}" alt="Photo de l'article">
				<div class="article_container">
					<span class="badge badge-success float-right">Nouveau</span>
					<a href="">
						<h4>{{ newArticle.title }}</h4>
					</a>
					<p>{{ newArticle.createdAt | date('d/m') }}</p>
					<li class="list-unstyled d-flex flex-wrap">
						{% for wording in newArticle.wordings %}

							<a href="{{ path('blog') }}" class="wording_link mr-1">
								{{ wording.title }}
							</a>

						{% endfor %}
					</li>
				</div>
			</div>
		{% endfor %}
		<div class="d-flex flex-wrap justify-content-between align-content-between">
			{% for article in articles|slice(0, 9) %}
				<div class="mb-3">
					<a href="{{ path('blog_show', {'id' : article.id, 'slug': article.slug }) }}">
						<div id="image_container">
							<img id="article_picture" src="{{ vich_uploader_asset(article, 'imageFile') }}">
						</div>
					</a>
					<div class="d-flex flex-column justify-content-between" style="width: 350px; height: 150px;">
						<span style="min-height: 54px;">{{ article.title }}</span>
						<li class="list-unstyled d-flex flex-wrap">
							{% for wording in article.wordings %}
								<a href="{{ path('blog') }}" class="wording_link mr-1">
									{{ wording.title }}
								</a>
							{% endfor %}
						</li>
						<p>{{ article.createdAt | date('d/m') }}</p>
					</div>
				</div>
			{% endfor %}
		</div>
		<a href="{{ path('blog') }}">
			<input class="text-uppercase p-2 list_button" value="Tous les articles ->"></input>
		</a>
	</div><br><br><br><br>
{% endblock %}
