{% extends 'base.html.twig' %}
{% block body %}
	<header>
		<link rel="stylesheet" href="{{ asset('css/list.css') }}">
	</header>
	<!-- Articles section -->
	<section
		class="container">
		<!-- Display all the articles in database -->
		<div class="d-flex justify-content-between">
			<div class="flex-grow-1">
				{% include 'primary/search/search.html.twig' with {form: form} only %}
				{% for article in articles %}
					<article class="d-flex px-3" style="min-height: 76px;">
						<div class="d-flex flex-column justify-content-between">
							<a class="article_title text-uppercase" href="{{ path('blog_show', {'id' : article.id, 'slug': article.slug }) }}">
								<h3>{{ article.title }}</h3>
							</a>

							<li class="list-unstyled d-flex flex-wrap">
								{% for wording in article.wordings %}
									<a href="#" class="wording_link mr-1">
										{{ wording.title }}
									</a>
								{% endfor %}
							</li>
							<p class="text-muted">{{ article.createdAt | date('d/m/y') }}</p>
						</div>
						{% if article.fileName is not null %}
							<div id="image_container">
								<a href="#">
									<img id="article_picture" src="{{ vich_uploader_asset(article, 'imageFile') }}" alt="Photo de l'article">
								</a>
							</div>
						{% endif %}
					</article>
					<hr>
				{% endfor %}
			</div>
		</div>
		<div class="btn-group">{{ knp_pagination_render(articles) }}</div>
	</section>
	<!-- / Articles section -->
{% endblock %}
