{% extends 'base.html.twig' %}

{% block title %}
	{{article.title}}
{% endblock %}

{% block body %}
	<link rel="stylesheet" href="{{ asset('css/article.css') }}">
	<!-- Article page -->
	<article class="container d-flex flex-column justify-content-between">
		<!-- Article title -->
		<h2 class="py-3">{{ article.title }}</h2>
		<!-- Article picture -->
		{% if article.content | length > 200 ? article.content %}
		<div class="d-flex">
			<div id="image_container">
				<img id="article_picture" src="{{ vich_uploader_asset(article, 'imageFile') }}">
			</div>
			<!-- Article content -->
			<span class="p-3">{{ article.content | raw }}</span>
		{% else %}
		<div>
			<div id="image_container" style="width: auto;">
				<img id="article_picture" src="{{ vich_uploader_asset(article, 'imageFile') }}">
			</div>
			<!-- Article content -->
			<div class="py-3">{{ article.content | raw }}</div>
		{% endif %}
		</div>
		<li class="list-unstyled d-flex flex-wrap mb-3">
			{% for wording in article.wordings %}
				<a href="#" class="wording_link mr-1">
					<span>{{ wording.title }}</span>
				</a>
			{% endfor %}
		</li>
		<!-- Article date -->
		<p class="metadata font-weight-bold">Publié le
			{{ article.createdAt | date('d/m/y') }}
		</p>
		<p>Vous avez aimé cet article ?	Dites nous ce que vous en pensez dans les commentaires</p>
		<p>Partagez cet article sur les réseaux sociaux</p>
		<div>
			<!-- Redirection to articles -->
			<a href="{{ path('blog') }}">
				<button type="button" class="btn btn-outline-secondary">Retour</button>
			</a>
			<!-- If a user is connected dislay the modify button -->
			{% if is_granted('ROLE_ADMIN') %}
				<a href="{{ path('blog_edit', {'id' : article.id, 'slug' : article.slug }) }}">
					<button type="button" class="btn btn-outline-secondary my-4">Modifier</button>
				</a>
				<form method="post" action="{{ path('blog_delete', {'id': article.id, 'slug': article.slug} ) }}" style="display: inline-block;" onsubmit="return confirm('Êtes-vous vraiment sûr ?')">
					<input type="hidden" name="_method" value="DELETE">
					<button class="btn btn-danger">Supprimer</button>
				</form>
			{% endif %}
		</div>
	</article>
	<!-- / Article page -->
	<hr>
	<!-- Comment section -->
	{% include "primary/article/comment.html.twig" %}
	<!-- / Comment section -->
	{% include "primary/article/more.html.twig" %}
{% endblock %}
