{% block body %}
	<section
		class="container">
		<!-- Display the amount of comments -->
		<h2>
			Commentaires ({{ article.comments | length }}) :
		</h2><hr>
		<!-- Display the comments -->
		{% for comment in article.comments %}
			<div class="media border p-3">
				<img src="{{ vich_uploader_asset( comment.user, 'imageFile') }}" alt="{{ comment.user.username }} picture" class="mr-3 mt-3 rounded-circle" style="width: 60px; height: 60px;">
				<div class="media-body">
					<h4 class="text-capitalize">{{ comment.user.username }}<small>
							<i>
								(<small>{{ comment.createdAt | date('d/m/Y à H:i') }}</small>)</i>
						</small>
					</h4>
					<p>{{ comment.content | raw }}</p>
				</div>
				{% if is_granted('ROLE_ADMIN') or app.user and app.user.id == comment.user.id  %}
					<form method="post" action="{{ path('delete_comment', {'id': comment.id, 'slug': comment.article.slug, 'idarticle': comment.article.id}) }}" onsubmit="return confirm('Êtes-vous vraiment sûr de vouloir supprimer ce commentaire ?')">
						<input type="hidden" name="_method" value="DELETE">
						<button class="close">
							<span aria-hidden="true">&times;</span>
						</button>
                    </form>
				{% endif %}
			</div>
		{% endfor %}
		<!-- If a user is connected, display the comment form -->
		{% if app.user %}
            {{ form_start(commentForm) }}
            <div class="pt-3">
            {{ form_row(commentForm.content, {'attr': {'placeholder': "Votre commentaire"}}) }}
            </div>
			<button type="submit" class="btn btn-secondary mb-5">Envoyer</button>
			{{ form_end(commentForm) }}
			<!-- Else display a connexion button -->
		{% else %}
			<h3 class="py-5"><a href="{{ path('security_login') }}" style="color: grey;">Se connecter</a> pour commenter</h3>
		{% endif %}
	</section>
{% endblock %}
