{% extends 'base.html.twig' %}
{% block body %}
	<!-- Articles section -->
	<section class="container my-5 py-3" style="background-color: white;">
        <h2 class="py-4">Liste des articles :</h2>
		<!-- Display all the articles in database -->
		{% for article in articles %}
			<article class="d-flex flex-column justify-content-around" style="height: 350px;">
				<!-- Article title -->
				<h3>{{ article.title }}</h3>
				<!-- Article picture -->
				<img src="{{ vich_uploader_asset(article, 'imageFile') }}" alt="article picture" style="max-width: 300px;">
				{% if article.content | length > 200 ? article.content %}
					{% set contentSliced = article.content | slice(0, 100) ~ ' ...' %}
					<span>
						{{ contentSliced | raw }}
					</span>
				{% else %}
					<span>
						{{ article.content | raw }}
					</span>
				{% endif %}
				<!-- Article page button -->
				<div>
					<a href="{{ path('blog_show', {'id' : article.id, 'slug': article.slug }) }}" class="btn btn-secondary">En savoir plus</a>
				</div>
            </article>
            <hr>
		{% endfor %}
		<div class="btn-group">{{ knp_pagination_render(articles) }}</div>
	</section>
	<!-- / Articles section -->
	<style>
		a:hover {
			text-decoration: none;
        }
        body {
			background-color: #f5f5f5;
		}
	</style>
{% endblock %}
