<div style="position: -webkit-sticky;position: sticky;top: 20px;">
	{{ form_start(form, {attr: {class: 'js-filter-form'}}) }}
	<h4>Rechercher</h4>
	{{ form_row(form.q) }}
	<h4>Catégories</h4>
	{{ form_row(form.wordings) }}
	<button type="submit" class="btn btn-secondary w-100">Filtrer</button>
	<a href="{{ 'blog' }}">Réinitialiser</a>
	{{ form_end(form) }}
</div>
