{% extends 'base.html.twig' %}

{% block title %}
    {{article.title | slice(0, 10)}}
{% endblock %}

{% block body %}
    <!-- Article page -->
    <article class="container my-4">
        <!-- Article title -->
        <h2>{{ article.title }}</h2>
        <div class="content">
            <!-- Article picture -->
            <img src="{{ vich_uploader_asset(article, 'imageFile') }}" alt="" width="50%" height="50%"><br>
            <!-- Article content -->
            <span>{{ article.content | raw }}</span>
            <!-- Article date -->
            <div class="metadata font-weight-bold">Ecrit le
                {{ article.createdAt | date('d/m/y') }}
                à
                {{ article.createdAt | date('H:i') }}
                <br>Libellés :
                {% for wording in article.wordings %}
                    <li style="list-style-type: none;"><a href="">{{ wording.title }}</a></li>
                {% endfor %}
            </div>
        </div>
        <!-- Redirection to articles -->
        <a href="{{ path('blog') }}">
            <button type="button" class="btn btn-outline-primary my-4">Retour</button>
        </a>
        <!-- If a user is connected dislay the modify button -->
        {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path('blog_edit', {'id' : article.id }) }}">
                <button type="button" class="btn btn-outline-primary my-4">Modifier</button>
            </a>
            <form method="post" action="{{ path('blog_delete', {id: article.id}) }}" style="display: inline-block;"
                  onsubmit="return confirm('Êtes-vous vraiment sûr ?')">
                <input type="hidden" name="_method" value="DELETE">
                <button class="btn btn-danger">Supprimer</button>
            </form>
        {% endif %}
    </article>
    <!-- / Article page -->
    <hr>
    <!-- Comment section -->
    <section class="container" id="commentaires">
        <!-- Display the amount of comments -->
        <h1 class="mb-5">{{ article.comments | length }}
            Commentaires :
        </h1>
        <!-- Display the comments -->
        {% for comment in article.comments %}
            <div class="media border p-3">
                <img src="{{ vich_uploader_asset(app.user, 'imageFile') }}" alt="{{ comment.user.username }} picture"
                     class="mr-3 mt-3 rounded-circle" style="width: 60px;">
                <div class="media-body">
                    <h4 class="text-capitalize">{{ comment.user.username }}<small><i>
                                (<small>{{ comment.createdAt | date('d/m/Y à H:i') }}</small>)</i></small></h4>
                    <p>{{ comment.content | raw }}</p>
                </div>
            </div>
        {% endfor %}
        <hr>
        <!-- If a user is connected, display the comment form -->
        {% if app.user %}
            {{ form_start(commentForm) }}
            {{ form_row(commentForm.content, {'attr': {'placeholder': "Votre commentaire"}}) }}
            <button type="submit" class="btn btn-success mb-5">Envoyer</button>
            {{ form_end(commentForm) }}
            <!-- Else display a connexion button -->
        {% else %}
            <h2>Se connecter pour commenter</h2>
            <a href="{{ path('security_login') }}" class="btn btn-primary mb-5">Connexion</a>
        {% endif %}
    </section>
    <!-- / Comment section -->
    <style>
        a:hover {
            text-decoration: none;
        }
    </style>
{% endblock %}
