{% extends 'base.html.twig' %}

{% block title %}
	{{article.title}}
{% endblock %}

{% block body %}
	<style>
		body {
			background-color: #f5f5f5;
		}
	</style>
	<!-- Article page -->
	<article class="container d-flex flex-column justify-content-between">
		<!-- Article title -->
		<h2>{{ article.title }}</h2>
		<!-- Article picture -->
		<img
		src="{{ vich_uploader_asset(article, 'imageFile') }}" alt="article image" style="max-width: 400px;">
		<!-- Article content -->
		<span>{{ article.content | raw }}</span>

		<!-- Article date -->
		<div class="metadata font-weight-bold">Ecrit le
			{{ article.createdAt | date('d/m/y') }}
			à
			{{ article.createdAt | date('H:i') }}
		</div>
		<div>
			<b>Libellés :</b>
			{% for wording in article.wordings %}
				<li class="list-unstyled">
					<a href="" style=" color:#212529;">
						{{ wording.title }}
					</a>
				</li>
			{% endfor %}
		</div>

		<div>
			<!-- Redirection to articles -->
			<a href="{{ path('blog') }}">
				<button type="button" class="btn btn-outline-secondary my-4">Retour</button>
			</a>
			<!-- If a user is connected dislay the modify button -->
			{% if is_granted('ROLE_ADMIN') %}
				<a href="{{ path('blog_edit', {'id' : article.id, 'slug' : article.slug }) }}">
					<button type="button" class="btn btn-outline-secondary my-4">Modifier</button>
				</a>
				<form method="post" action="{{ path('blog_delete', {'id': article.id, 'slug': article.slug} ) }}" style="display: inline-block;" onsubmit="return confirm('Êtes-vous vraiment sûr ?')">
					<input type="hidden" name="_method" value="DELETE">
					<button class="btn btn-danger">Supprimer</button>
				</form>
			{% endif %}
		</div>
	</article>
	<!-- / Article page -->
	<hr>
	<!-- Comment section -->
	<section
		class="container" id="commentaires">
		<!-- Display the amount of comments -->
		<h1 class="mb-5">{{ article.comments | length }}
			Commentaires :
		</h1>
		<!-- Display the comments -->
		{% for comment in article.comments %}
			<div class="media border p-3">
				<img src="{{ vich_uploader_asset( comment.user, 'imageFile') }}" alt="{{ comment.user.username }} picture" class="mr-3 mt-3 rounded-circle" style="width: 60px; height: 60px;">
				<div class="media-body">
					<h4 class="text-capitalize">{{ comment.user.username }}<small>
							<i>
								(<small>{{ comment.createdAt | date('d/m/Y à H:i') }}</small>)</i>
						</small>
					</h4>
					<p>{{ comment.content | raw }}</p>
				</div>
				{% if app.user.id == comment.user.id %}
				<form method="post" action="{{ path('delete_comment', {'id': comment.id, 'slug': comment.article.slug, 'idarticle': comment.article.id}) }}" onsubmit="return confirm('Êtes-vous vraiment sûr de vouloir supprimer ce commentaire ?')">
					<input type="hidden" name="_method" value="DELETE">
					<button class="close">
					<span aria-hidden="true">&times;</span>
					</button>
				</form>
				{% endif %}
			</div>
		{% endfor %}
		<hr>
		<!-- If a user is connected, display the comment form -->
		{% if app.user %}
			{{ form_start(commentForm) }}
			{{ form_row(commentForm.content|escape, {'attr': {'placeholder': "Votre commentaire"}}) }}
			<button type="submit" class="btn btn-secondary mb-5">Envoyer</button>
			{{ form_end(commentForm) }}
			<!-- Else display a connexion button -->
		{% else %}
			<h2>Se connecter pour commenter</h2>
			<a href="{{ path('security_login') }}" class="btn btn-secondary mb-5">Connexion</a>
		{% endif %}
	</section>
	<!-- / Comment section -->
	<style>
		a:hover {
			text-decoration: none;
		}
	</style>
{% endblock %}
