{% extends "base.html.twig" %}
{% block body %}
    <head>
        <link rel="stylesheet" href="{{ asset('css/registration.css') }}">
    </head>
    <div id="container">
        <div class="text-center signup">
            <h1 class="mb-3" style="color: black">Inscription</h1>
            <form action="{{ path('security_registration') }}" method="post" enctype="multipart/form-data">
            <!-- Inscription form -->
            {{ form_start(formRegister) }}
                <div class="form-error">
                    {{ form_errors(formRegister.email) }}
                </div>
                <div class="form-group">
                    {{ form_widget(formRegister.username, {'attr': {'placeholder': 'Nom d\'utilisateur'}}) }}
                </div>
                <div class="form-error">
                    {{ form_errors(formRegister.email) }}
                </div>
                <div class="form-group">
                    {{ form_widget(formRegister.email, {'attr': {'placeholder': 'Adresse email'}}) }}
                </div>
                <div class="form-error">
                    {{ form_errors(formRegister.password) }}
                </div>
                <div class="form-group">
                    {{ form_widget(formRegister.password, {'attr': {'placeholder': 'Mot de passe', 'type' : 'hidden'}}) }}
                </div>
                <div class="form-error">
                    {{ form_errors(formRegister.confirm_password) }}
                </div>
                <div class="form-group">
                    {{ form_widget(formRegister.confirm_password, {'attr': {'placeholder': 'Confirmation du Mot de passe'}}) }}
                </div>
                <div class="form-group">
                    <label class="h5 mb-3 float-left">
                        Une photo de profil ? (facultatif)
                    </label>
                    {{ form_widget(formRegister.imageFile) }}
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-lg btn-success w-100 rounded-0">
                        Inscription
                    </button>
                </div>
            {{ form_end(formRegister) }}
             </form>
             <a href="{{ path('security_login') }}"><p>Retour</p></a>
            <!-- / Inscription form -->
        </div>
    </div>
{% endblock %}
