{% block body %}
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #eee;">
        <a class="navbar-brand" href="{{ path('home') }}">
            <img src="{{ asset('images/almalusalogo.png') }}" alt="logo">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
                aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul id="container" class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a id="nav-articles" class="nav-link" href="{{ path('articles') }}">Articles</a>
                </li>
                <li class="nav-item">
                    <a id="nav-subscription" class="nav-link" href="{{ path('subscription') }}">Adhésion</a>
                </li>
                <!-- Check if a user is logged in to display appropriate features -->
                {% if is_granted('ROLE_ADMIN') %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('article_create') }}">Créer un article</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('category_edit') }}">Gérer une catégorie</a>
                    </li>
                {% endif %}
            </ul>
            <ul class="navbar-nav">
                <!-- Check if a user is logged in to display appropriate features -->
                {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_USER') or is_granted('ROLE_VERIFIED_USER') %}
                    {% if app.user %}
                        <li class="nav-item d-flex">
                            {% if app.user.filename == null %}
                            <img class="my-auto rounded-circle" src="{{ asset('images/default_user.png') }}"
                                 alt="User picture"
                                 width="30px" height="30px" style="margin-left: 0.5rem; margin-right: 0.5rem;">
                            {% else %}
                            <img class="my-auto rounded-circle" src="{{ vich_uploader_asset(app.user, 'imageFile')  }}"
                                 alt="User picture"
                                 width="30px" height="30px" style="margin-left: 0.5rem; margin-right: 0.5rem;">
                            {% endif %}
                            <a class="nav-link" href="{{ path('profile') }}">
                                {{ app.user.username }}
                            </a>
                        </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('security_logout') }}">Deconnexion</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('security_login') }}">Connexion</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>
    <!-- / Navbar -->
{% endblock %}