{% extends "base.html.twig" %}
{% block body %}
    <header>
        <link rel="stylesheet" href="{{ asset('css/user.css') }}">
    </header>
    <div class="container text-center" style="width: 350px;">
        <h2>Modification des informations :</h2>
        {{ form_start(form) }}
        <label class="float-left">
            Pseudonyme :
        </label>
        <div class="form-error">
            {{ form_errors(form.username) }}
        </div>
        <div class="form-group">
            {{ form_widget(form.username, {'attr': {'placeholder': 'Pseudonyme'}} ) }}
        </div>
        <label class="float-left">
            Adresse mail :
        </label>
        <div class="form-error">
            {{ form_errors(form.email) }}
        </div>
        <div class="form-group">
            {{ form_widget(form.email, {'attr': {'placeholder': 'Adresse email'}}) }}
        </div>
        <label class="float-left">
            Photo de profil :
        </label>
        <div class="form-group">
            {{ form_widget(form.imageFile) }}
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-lg btn-success w-100">
                Mettre à jour
            </button>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}